---
---

$light-grey: #e8e8e8;
$dark-grey: #454545;
$off-white: #fefefe;

// FONT

@font-face {
    font-family: 'national-regular';
    src: url('fonts/national-regular.eot');
    src: url('fonts/national-regular.eot') format('embedded-opentype'),
        url('fonts/national-regular.woff') format('woff'),
        url('fonts/national-regular.ttf') format('truetype'),
        url('fonts/national-regular.svg#NationalRegular') format('svg');
}

// GENERAL

html, body, h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'national-regular', sans-serif;
}

body {
    background-color: $light-grey;
}

.off-white {
    background-color: $off-white;
}

.section-separator {
    height: 52px;
}

.section-border{
    border-bottom: 2px solid $dark-grey;
    padding-bottom: 25px;
    margin: 0 2.5%;
}

// FONT

h4 {
    font-weight: 400;
}

// FULLSCREEN WARNINGS

.fullscreen-warning {
    height: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $light-grey;
    z-index: 1000;
    text-align: center;
    padding: 20px;
}

.fullscreen-warning img {
    width: 40%;
    min-width: 250px;
    padding-top: 10%;
    padding-top: 35vh;
    padding-bottom: 20px;
}

#javascript-disabled {
    z-index: 1200;
}

// BUTTONS

.btn-primary {
    color: $off-white;
    background-color: $dark-grey;
    border-color: $dark-grey;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    color: $dark-grey;
    background-color: $off-white;
    border-color: $dark-grey;
}

.btn {
    border: 2px solid $dark-grey;
    border-radius: 0px;
}

.btn:focus {
    outline: none;
}

// NAVIGATION

#main-navigation {
    background-color: $light-grey;
    border: none;
}

#main-navigation > .container-fluid {
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: 2px solid $dark-grey;
}

.navbar-nav > li:hover {
    background-color: $off-white;
}

.navbar-default .navbar-nav > li > a {
    color: $dark-grey;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    color: $dark-grey;
    background-color: $off-white;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand img {
    max-height: 100%;
}

.nav-padding {
    height: 50px;
}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        font-size: 15px;
    }

    .navbar-right .dropdown-menu {
        border: 2px solid $dark-grey;
        border-top: 0px;
        right: auto;
        left: 0px;
    }

    .navbar-right .dropdown-menu li a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// FRAMES PODIUM

.frames-podium-container {
    padding-left: 0;
    padding-right: 0;
}

.frames-podium {
    text-align: center;
}

.podium-hero img {
    width: 55%;
    margin: 0 auto;
}

.podium-nav {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.podium-nav img {
    width: 80%;
}

.slick-slide > img {
    margin: 0 auto;
}

.slick-track {
    margin: 0 auto;
}

.slick-prev::before, .slick-next::before {
    color: $dark-grey;
}

// MODAL

.modal-content {
    border: 2px solid $dark-grey;
    border-radius: 0px;
    background-color: $light-grey;
    text-align: center;
}

.modal-header {
    padding-bottom: 0px;
    position: relative;
    z-index: 5;
}

.modal-header h2 {
    margin-top: 10px;
}

.modal-header h4 {
    margin-bottom: 0px;
}

.modal-body {
    padding-top: 0px;
    text-align: justify;
    text-align-last: center;
}

.modal-body img {
    max-width: 100%;
}

.modal-details {
    text-align: left;
}

.dimensions, .hardware {
    border-left: 1px solid $dark-grey;
}

.hardware {
    border-right: 1px solid $dark-grey;
}

.modal-details h6 {
    margin-top: 5px;
}

.modal-details p {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}

.dimensions-detail {
    text-align: center;
}

.close span {
    color: $dark-grey;
}

.buying-options {
    border: 2px solid $dark-grey;
    background-color: $off-white;
    margin: 20px 0px;
    padding: 0px 0px;
}

.buying-options .form-inline {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
}

.input {
    width: auto;
}

.input--madoka {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.graphic--madoka {
    stroke-width: 8px;
    stroke: $dark-grey;
}

.input__label--madoka, .input__field--madoka {
    color: $dark-grey;
}

.input__field--madoka {
    height: 36px;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka, .input--filled .input__label-content--madoka {
    -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
    transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 991px) {

    .hardware {
        text-align: right;
        border-left: 0px;
    }

    .dimensions {
        text-align: center;
        padding-top: 15px;
        border-left: 0px;
    }
}

@media (min-width: 992px) {

    .modal-body img {
        margin-top: -50px;
    }
}