---
layout: homepage
title: "Lewis Fredericks - Handcrafted Horn Eyewear"
description: ""
---
<!-- FRAMES PODIUMS -->
<div>
    {% assign isFirst = true %} 
    {% for frame in site.frames %}
    {% if isFirst %}
    {% assign isFirst = false %}
    {% else %}
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% endif %}
    <div id="{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="nav-padding"></div>
    <div class="container-fluid frames-podium-container">
        <div class="frames-podium">
            <!-- PODIUM HERO -->
            <div id="hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-hero">
                {% for variant in frame.variants %}
                <div>
                    <img src="{{ variant.image-path }}" alt="{{ frame.title }} {{ variant.title }}">
                    <h2>{{ frame.title | upcase}}</h2>
                    <h4>{{ variant.title | upcase}} | {{ variant.lens | upcase}}</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#details-modal" data-title="{{ frame.title | upcase }}" data-variant="{{ variant.title | upcase}} | {{ variant.lens | upcase}}" data-lensdetails="{{ variant.lens-details }}" data-description="{{ frame.description }}" data-vardesc="{{ variant.description }}" data-width="{{ frame.width }}" data-height="{{ frame.height }}" data-netweight="{{ frame.net-weight }}" data-grossweight="{{ frame.gross-weight }}" data-imgpath="{{ variant.image-path }}">DETAILS</button>
                </div>
                {% endfor %}
            </div>
            <!-- PODIUM NAV -->
            <div id="nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-nav">
                {% for variant in frame.variants %}
                <div class="">
                    <img src="{{ variant.thumbnail-path }}" alt="{{ frame.title }} {{ variant.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--/FRAMES PODIUMS -->

<!-- STOCKISTS -->
<div class="container-fluid"
<!--/STOCKISTS -->

<!-- DETAILS MODAL -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="modal-frame-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 id="modal-frame-title">Frame title</h2>
                <h4 id="modal-variant-title">Variant title</h4>
            </div>
            <div class="modal-body">
                <img id="modal-variant-image" src="">
                <div class="row-wide">
                    <div class="col-md-6 col-xs-12">
                        <p id="modal-frame-description">Frame Description</p>
                        <p id="modal-variant-description">Variant Description</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row-wide">
                            <div class="col-xs-6 modal-details hardware">
                                <h6><b>HARDWARE</b></h6>
                                <p id="modal-lens-details">Lens details</p>
                                <p>Seven barrel stainless steel hinges</p>
                                <p>Functional pins and rivets</p>
                            </div>
                            <div class="col-xs-6 modal-details">
                                <h6><b>ACCESSORIES</b></h6>
                                <p>Handmade NZ leather pouch</p>
                                <p>Lewis Fredericks microfiber cloth</p>
                                <p>Polishing cream</p>
                            </div>
                            <div class="col-xs-12 modal-details dimensions">
                                <h6><b>DIMENSIONS</b></h6>
                                <div class="dimensions-detail">
                                    <p id="modal-frame-dimensions">Dimensions</p>
                                    <p id="modal-frame-weight">Weight</p>
                                    <br>
                                    <p>12-month warranty</p>
                                    <h6><b>ONE SIZE FITS ALL</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-wide">
                    <div class="col-xs-12 buying-options">
                        <div class="row-wide">
                            <div class="col-md-6 col-xs-12">
                                <h2>PURCHASE</h2>
                                <h4>RRP $420</h4>
                                <p>

                                </p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <form id="modal-enquiry-form" class="form-inline" method="post" action="#">
                                    <span class="input input--madoka">
                                        <input required name="email" type="email" class="form-control input__field input__field--madoka" id="email-input">
                                        <label class="input__label input__label--madoka" for="email-input">
                                            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                                <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
                                            </svg>
                                            <span class="input__label-content input__label-content--madoka">Email</span></label>
                                    </span>
                                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />
                                    <button type="submit" class="btn btn-primary">Enquire</button>
                                </form>
                                <script>
                                    $('#modal-enquiry-form').validate();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/DETAILS MODAL -->

<!-- KICK OFF THE SLIDERS -->
<script>
    {% for frame in site.frames %}
    $('#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 7000
    });
     $('#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
         dots: true,
         centerMode: true,
         focusOnSelect: true
     });
     {% endfor %}
</script>