---
layout: homepage
title: "Lewis Fredericks - Handcrafted Horn Eyewear"
description: ""
---
<div>
    {% assign isFirst = true %} 
    {% for frame in site.frames %}
    {% if isFirst %}
    {% assign isFirst = false %}
    {% else %}
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% endif %}
    <div id="{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="nav-padding"></div>
    <div class="container-fluid frames-podium-container">
        <div class="frames-podium">
            <!-- PODIUM HERO -->
            <div id="hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-hero">
                {% for variant in frame.variants %}
                <div>
                    <img src="{{ variant.image-path }}" alt="{{ frame.title }} {{ variant.title }}">
                    <h2>{{ frame.title | upcase}}</h2>
                    <h4>{{ variant.title | upcase}} | {{ variant.lens | upcase}}</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#details-modal" data-title="{{ frame.title | upcase }}" data-variant="{{ variant.title | upcase}} | {{ variant.lens | upcase}}" data-description="{{ frame.description }}" data-vardesc="{{ variant.description }}" data-width="{{ frame.width }}" data-height="{{ frame.height }}" data-imgpath="{{ variant.image-path }}">DETAILS</button>
                </div>
                {% endfor %}
            </div>
            <!-- PODIUM NAV -->
            <div id="nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-nav">
                {% for variant in frame.variants %}
                <div class="">
                    <img src="{{ variant.thumbnail-path }}" alt="{{ frame.title }} {{ variant.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- DETAILS MODAL -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="modal-frame-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 id="modal-frame-title">Frame title</h2>
                <h4 id="modal-variant-title">Variant title</h4>
            </div>
            <div class="modal-body">
                <img id="modal-variant-image" src="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<!-- KICK OF THE SLIDERS -->
<script>
    {% for frame in site.frames %}
    $('#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 7000
    });
     $('#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
         dots: true,
         centerMode: true,
         focusOnSelect: true
     });
     {% endfor %}
</script>